# 🔧 IDE
.idea/
*.iml

# 📦 Node.js
frontend/node_modules/
frontend/dist/

# ☕ Java & Gradle
backend/build/
backend/.gradle/
backend/out/

# 🗝️ 민감 정보 및 환경 변수
*.env
backend/src/main/resources/application-local.properties
backend/src/main/resources/application-prod.properties

# 🗂️ OS
.DS_Store
Thumbs.db
